.header-brand-img {
  height: 3.2rem;
}

.header {
  height: 100px;
}

label {
  font-weight: bold;
  color: #595858;
}

#total_casos_confirmados > .col-sm-12 > .card {
  border-top: 5px solid;
  border-top-color: #ff9000;
}

#total_mortes > .col-sm-12 > .card {
  border-top: 5px solid;
  border-top-color: #d60404;
}

#total_casos_recuperados > .col-sm-12 > .card {
  border-top: 5px solid;
  border-top-color: #198c00;
}

#row-data {
  margin-top: -30px;
  margin-bottom: 10px;
}

#span-data {
  font-style: italic;
  background: #d6a9b6;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  float: right;
}

#row-banner {
  margin-top: -15px;
}

.card-options {
  display: none;
}
