.header-brand-img {
  height: 3.2rem;
}

.header {
  height: 100px;
}

label {
  font-weight: bold;
  color: #595858;
}

#total_casos_confirmados > .col-sm-12 > .card {
  border-top: 5px solid;
  border-top-color: #ff9000;
}

#total_mortes > .col-sm-12 > .card {
  border-top: 5px solid;
  border-top-color: #d60404;
}

#total_casos_recuperados > .col-sm-12 > .card {
  border-top: 5px solid;
  border-top-color: #198c00;
}

#row-data {
  margin-top: -30px;
  margin-bottom: 10px;
}

#span-data {
  font-style: italic;
  background: #d6a9b6;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  float: right;
  font-size: 12px;
}

#row-banner {
  margin-top: -15px;
}

.card-options {
  display: none;
}


/*
*
*/

#tipo_plot_tempo {
  margin-top: -65px;
  float: right;
}

#tipo_plot_tempo .shiny-options-group .radio-inline input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#tipo_plot_tempo .shiny-options-group .radio-inline span {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 3px;
  font-family: sans-serif, Arial;
  font-size: 11px;
  border: 2px solid #444;
  border-radius: 4px;
}


#tipo_plot_tempo .shiny-options-group .radio-inline input[type="radio"]:checked + span {
  background-color:#d6a9b6;
  border-color: #bc323c;
  font-weight: bold;
}

label[for="tipo_plot_tempo"]
{
  display: none;
}

/*
*
*/

#tipo_regiao {
  margin-top: -65px;
  float: right;
}

#tipo_regiao .shiny-options-group .radio-inline input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#tipo_regiao .shiny-options-group .radio-inline span {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 3px;
  font-family: sans-serif, Arial;
  font-size: 11px;
  border: 2px solid #444;
  border-radius: 4px;
}


#tipo_regiao .shiny-options-group .radio-inline input[type="radio"]:checked + span {
  background-color:#d6a9b6;
  border-color: #bc323c;
  font-weight: bold;
}

label[for="tipo_regiao"]
{
  display: none;
}